<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>&lt;button @onclick="ShowMessage"&gt;Get message&lt;/button&gt;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>@if (showMessage)</td>
    </tr>
    <tr>
      <th>2</th>
      <td>{</td>
    </tr>
    <tr>
      <th>3</th>
      <td>@if (message == null)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>{</td>
    </tr>
    <tr>
      <th>5</th>
      <td>&lt;p&gt;&lt;em&gt;Loading...&lt;/em&gt;&lt;/p&gt;</td>
    </tr>
    <tr>
      <th>6</th>
      <td>}</td>
    </tr>
    <tr>
      <th>7</th>
      <td>else</td>
    </tr>
  </tbody>
</table>